/* bold 300 */
@font-face {
    font-family: 'Montserrat-Light';
    src: url('./Montserrat/Montserrat-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
// thin
@font-face {
    font-family: 'Montserrat-Thin';
    src: url('./Montserrat/Montserrat-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}
/* bold 400 */
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('./Montserrat/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
/* bold 700 */
@font-face {
    font-family: 'Montserrat-SemiBold';
    src: url('./Montserrat/Montserrat-SemiBold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('./Roboto/Roboto-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto-t';
    src: url('./Roboto/Roboto-Thin.ttf');
    font-weight: normal;
    font-style: normal;
}