@import '../fonts/fonts';
$title-font: 'Montserrat-SemiBold' ,sans-serif;
$title1-font: 'Montserrat-Thin' ,sans-serif;
$title2-font: 'Montserrat-Regular' ,sans-serif;
$title3-font: 'Montserrat-SemiBold' ,sans-serif;
$title4-font: 'Roboto' ,sans-serif;
$title5-font: 'Roboto-t' ,sans-serif;
$text-color-w:#fff;